pyrogram==2.0.106
tgcrypto
pytgcalls==3.0.0.dev24
yt-dlp
python-dotenv
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg
Pillow
python-arq
future
psutil
wget
